// theme.scss must be at the top in order to override the bootstrap default variables
@import "./theme.scss";
@import "../bootstrap/functions"; // Required for Bootstrap mixins
@import "../bootstrap/variables"; // Required for Bootstrap variables
@import "../bootstrap/mixins"; // Required for media-breakpoint mixins
@import "./skeleton.scss";
@import "./input.scss";
@import "./variables.scss";
@import "./datatable.css";
@import "./flatpickr.scss";
@import "../../fonts/plus-jakarta-sans/stylesheet.css";
// @import "./style.bundle.css";

/* CSS Cascade Layers
 * Establishes a strict cascading order from lowest to highest priority:
 * - reset: Base resets for consistent cross-browser styling
 * - defaults: Default element styles and base typography
 * - patterns: Common design patterns and layouts
 * - components: Individual component styles
 * - utilities: Utility classes that override other styles
 * - overrides: Highest priority overrides when needed
 */
@layer reset, defaults, patterns, bootstrap, components, utilities, overrides;

@layer bootstrap {
    @import "../bootstrap/bootstrap"; /* Bootstrap inside a layer */
}
@layer reset {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    html {
        font-size: $base-font-size;
        height: 100%;
    }
}

@layer defaults {
    body {
        box-sizing: border-box;
    }
    table {
        thead {
            vertical-align: middle;
        }
        tr {
            vertical-align: middle;
        }
    }

    // error messages
    span {
        &.text-danger {
            @include media-breakpoint-down("sm") {
                font-size: 0.8rem;
            }
        }
    }
}
@layer components {
    .v-row {
        max-width: 100%;
    }

    .v-signup-section {
        .v-form-container {
            .v-tagline {
                width: 100%;

                @include media-breakpoint-up("md") {
                    width: 50%;
                }
            }

            .v-form-content {
                .v-form-group {
                    .v-password-field {
                        margin-top: 0 !important;
                        border-right: none !important;
                        border-top-right-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    }
                    &.v-mobile-input {
                        input {
                            padding-left: 45px;
                            padding-block: 23px;
                        }
                        .react-tel-input {
                            margin-top: 5px;
                            &:focus-within {
                                .flag-dropdown {
                                    border: 1px solid #747272;
                                }
                            }
                        }
                        .flag-dropdown {
                            border-radius: 10px 0 0 10px;
                            .selected-flag {
                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                    }
                    &.v-submit-btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 50px;

                        button {
                            padding: 15px 35px;
                            border-radius: 30px;
                            background-color: var(--color-theme-dark-cyan);
                            border: none;
                            box-shadow: none;
                            outline: none;
                            font-weight: $semibold;
                            width: 100%;

                            @include media-breakpoint-up("sm") {
                                margin-left: 25%;
                                margin-right: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
    .v-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;

        .v-login {
            margin-block: auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            align-items: center;

            .v-tagline {
                h1 {
                    color: $tagline-color;
                }
            }

            @include media-breakpoint-down("sm") {
                padding: 20px;
                width: 100%;
            }

            .v-google-login-btn {
                width: 100%;
                padding: 15px 0;

                button {
                    width: 100%;
                    padding: 15px 20px;
                    border: 1px solid #d0d0d0;
                    box-shadow: none;
                    border-radius: 70px;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    font-weight: $semibold;

                    span {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            .v-hr-row {
                display: flex;
                width: 100%;
                align-items: center;
                padding: 15px 0;

                hr {
                    width: 100%;
                    color: #d0d0d0;
                    opacity: 1;
                }

                span,
                hr {
                    display: block;
                }

                span {
                    flex-shrink: 0;

                    @include media-breakpoint-down("sm") {
                        font-size: 0.9rem;
                    }
                }
            }

            .v-form-content {
                display: flex;
                flex-direction: column;
                width: 100%;

                form {
                    width: 100%;

                    .v-form-group {
                        label,
                        input {
                            display: block;
                            width: 100%;

                            @include media-breakpoint-down("sm") {
                                font-size: 0.8rem;
                            }
                        }

                        input {
                            border-radius: 10px;
                            padding: 10px;
                            border: 1px solid #d0d0d0;

                            &:focus {
                                border-color: #747272;
                                outline: none;
                                box-shadow: none;
                            }
                        }

                        &:nth-child(1) {
                            input[type="text"] {
                                margin-top: 5px;
                            }
                        }

                        margin-top: 25px;

                        input[type="password"],
                        input[type="text"] {
                            &.v-password-field {
                                border-right: none;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                margin-top: 0;
                            }
                        }

                        .v-input-group {
                            margin-top: 5px;
                            display: flex;

                            &:focus-within {
                                .v-input {
                                    border-color: #747272;
                                    outline: none;
                                    box-shadow: none;
                                }
                            }

                            .v-btn {
                                height: 100%;
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                                border: 1px solid #d0d0d0;
                                border-left: none;
                                background: transparent;
                            }
                        }

                        &:nth-child(3) {
                            margin-top: 35px;
                            display: flex;
                            justify-content: center;

                            .v-submit-btn {
                                border: none;
                                outline: none;
                                background: var(--color-theme-light-cyan);
                                width: 100%;
                                padding: 15px 25px;
                                border-radius: 30px;
                                font-weight: $semibold;
                            }
                        }

                        .v-forgot-password {
                            float: right;

                            a {
                                color: var(--color-theme-dark-cyan);
                                text-decoration: none;

                                @include media-breakpoint-down("sm") {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }

                    .v-signup {
                        text-align: center;
                        margin-top: 10px;
                        p {
                            margin-top: 1rem;
                            margin-bottom: 0;
                            @include media-breakpoint-down("sm") {
                                font-size: 0.8rem;
                            }
                        }
                        a {
                            color: var(--color-theme-dark-cyan);
                            text-decoration: none;

                            @include media-breakpoint-down("sm") {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .swal2-confirm,
    .swal2-cancel {
        box-shadow: none;
        background: transparent;
        outline: none;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        margin-inline: 5px;
    }

    .swal2-confirm {
        background-color: rgba(255, 0, 0, 0.8);
        color: #fff;

        &:hover {
            opacity: 0.7;
        }
    }

    .swal2-cancel {
        background: transparent;
        color: var(--color-theme-dark-cyan);

        &:hover {
            opacity: 0.7;
        }
    }

    .swal2-close,
    .swal2-close:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }

    .dataTable {
        width: 100%;
        table-layout: fixed;
        word-wrap: normal !important;
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        th {
            .icon-container {
                position: relative;
                &::after,
                &::before {
                    opacity: 0.3;
                    position: absolute;
                    right: -16px;
                    color: white;
                    font-size: 0.5rem;
                }
                &::after {
                    top: 1px;
                    content: "▲";
                }
                &::before {
                    top: 9px;
                    content: "▼";
                }
                &.s_asc:after {
                    opacity: 1;
                    color: whitesmoke;
                }
                &.s_desc:before {
                    opacity: 1;
                    color: whitesmoke;
                }
            }
        }
        tbody {
            tr {
                &:hover {
                    background-color: #f8fafc;
                }
            }
        }
    }

    .resizer {
        width: 4px;
        background: rgba(0, 0, 0, 0.5);
        user-select: none;
        touch-action: none;
        cursor: col-resize;
        position: absolute;
        height: 50% !important;
        top: 25%;
        right: 0;
    }

    .resizer.isResizing {
        background: hsl(216, 72%, 44%);
        opacity: 1;
    }

    .main-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "sidebar navbar"
            "sidebar content"
            "sidebar footer";
        min-height: 100vh;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "navbar"
                "content"
                "footer";
        }
    }

    main.main-content {
        grid-area: content;
        overflow: auto;
    }

    .custom-spinner {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);
    }
    .navbar {
        position: sticky;
        top: 0;
        grid-area: navbar;
        background-color: white;
        z-index: 999;
        transition: box-shadow 0.3s;
        // sidebar-toggle-button on desktop
        .sidebar-toggle-button {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-15px, -50%);
            transition: transform 0.3s;
            &.rotate-180 {
                transform: translate(-15px, -50%) rotate(180deg);
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        // sidebar-toggle-button on mobile devices
        .sidebar-toggle-button-sm {
            transition: transform 0.3s;
            &.rotate-180 {
                transform: rotate(180deg);
            }
            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        // profile icon
        .profile-container {
            position: relative;
            display: inline-block;
        }

        .profile-icon {
            width: 50px;
            height: 50px;
            border-radius: 8px;
            cursor: pointer;
            margin-right: 10px;
        }

        .dropdown-card {
            position: absolute;
            top: 60px; /* Adjust based on icon size */
            right: 10px;
            z-index: 1000;
            transition: opacity 0.3s ease;
            min-width: 18rem;
        }
    }
    .pagination {
        .paginate_button {
            height: 100%;
            display: block;
        }
    }
}

@layer utilities {
    .opacity {
        &-0 {
            opacity: 0;
        }
        &-1 {
            opacity: 1;
        }
    }

    .invert {
        filter: invert(1);
    }
}

// intentionally kept outside all layers
aside.sidebar {
    position: sticky !important;
    left: 0;
    top: 0;
    align-self: start;
    grid-area: sidebar;
    height: 100vh !important;
    transition: all 0.3s ease; // Added transition for smooth animation

    .sidebar-logo {
        position: sticky;
        top: 0;
        background: white;
        z-index: 999999;
    }
    @media screen and (max-width: 768px) {
        position: fixed !important;
        left: -200px;
        width: 0;
        top: 66px !important;
        height: 0;
        overflow: hidden;
        .menu-container {
            max-height: calc(100vh - 150px);
            overflow: auto;
        }

        &.show {
            width: 150px;
            left: 0;
            background-color: white;
            z-index: 999;
        }
    }
    .ps-sidebar-container {
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: hsla(220, 2%, 68%, 0.532);
            }
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: hsla(216, 4%, 77%, 0.532);
            &:hover {
                background: hsla(220, 2%, 68%, 0.532);
            }
        }
        &::-webkit-scrollbar-track {
            margin-top: 50px;
        }
    }
}

.dropzone {
    border: 2px solid map-get($theme-colors, "primary");
    border-radius: 8px;
}

@layer overrides {
    // if you want to orverride already written styles
    // they will be written here
    // e.g want to override the default bootstrap gutter space
    body {
        font-family: "Plus Jakarta Sans";
        color: var(--color-base-font);
        background-color: var(--color-base-background);
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .w-500px {
        width: 500px;
    }
    .cursor-pointer {
        cursor: pointer;
    }

    // Auth style
    .sign-in-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .sign-in-form {
        background-color: var(--color-theme-white);
        @include media-breakpoint-down(md) {
            height: 100%;
        }
    }
    .sign-up-form {
        width: 600px;
        @include media-breakpoint-down(lg) {
            width: 500px;
        }
    }

    // Login styles
    .login-type-section {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 0.5rem;
        background-color: var(--color-theme-secondary);
        padding: 0.4rem;
        .login-type-section-btn {
            font-size: 1rem;
            background: none;
            border-radius: 0;
            padding: 0.5rem 1rem;
            cursor: pointer;
            color: var(--color-theme-white);
            width: 50%;
            &.active {
                border-radius: 0.5rem;
                background-color: var(--color-theme-primary);
            }
        }
    }
    .auth-method-section {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 1.6rem;
        justify-content: start;
        .auth-method-section-btn {
            border-radius: 0.5rem;
            flex-direction: row-reverse;
            background-color: var(--color-theme-secondary);
            padding: 0.5rem 1rem;
            justify-content: flex-end;
            width: 150px;
            color: var(--color-theme-white);
        }
    }
    .login-swiper-images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: var(--color-background-login-swiper);
        .swiper {
            width: 100%;
            text-align: center;
        }
        .swiper-experince-pagination {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
        .image {
            width: 100%;
            height: 50vh;
        }
        .description {
            margin-inline: 80px;
            font-weight: 700;
            font-size: 22px;
        }
    }

    // button styles
    button,
    .btn {
        &:disabled {
            cursor: not-allowed !important;
            pointer-events: unset !important;
            opacity: unset !important;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .button-3d-effect {
        &:not(&:disabled) {
            transition: all 0.2s ease !important;
            transform: translateY(0);
            &:hover {
                transform: translateY(-1px);
            }
            &:active {
                transform: translateY(1px);
            }
        }
    }
    .cancel-button-class {
        border: 1px solid var(--color-theme-primary);
        &:hover {
            background-color: var(--color-theme-primary);
            color: var(--color-theme-white);
        }
    }

    // Iterate over each key-value pair in the $theme-colors map,
    // where `$name` is the name of the theme color (e.g., "primary", "secondary")
    // and `$color` is the actual color value (e.g., #0d6efd).
    // For each color, generate custom styles for the corresponding button class
    // (e.g., .btn-primary, .btn-secondary), and apply a consistent box-shadow
    // effect for normal, hover, and active states using predefined mixins.
    @each $name, $color in $theme-colors {
        // Target button class dynamically using the color name (e.g., .btn-primary, .btn-success, etc.)
        .btn-#{$name},
        .cancel-button-class {
            // Apply default box-shadow using custom mixin
            @include box-shadow-light($color);

            &:not(&:disabled) {
                // On hover, apply a slightly stronger box-shadow
                &:hover {
                    @include box-shadow-light-hover($color);
                }

                // On active/click, apply a deeper box-shadow for feedback effect
                &:active {
                    @include box-shadow-light-active($color);
                }
            }
        }
    }

    // SweetAlert(Swal) custom classes
    .swal2-confirm,
    .swal2-cancel {
        box-shadow: none;
        background: transparent;
        outline: none;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        margin-inline: 5px;
    }

    .swal2-confirm {
        background-color: rgba(255, 0, 0, 0.8);
        color: #fff;

        &:hover {
            opacity: 0.7;
        }
    }

    .swal2-cancel {
        background: transparent;
        color: var(--color-theme-dark-cyan);

        &:hover {
            opacity: 0.7;
        }
    }

    .swal2-close,
    .swal2-close:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
    .swal2-title {
        font-weight: $regular !important;
        font-size: 1.1rem !important;
    }
    .custom-swal-cancel-button {
        color: var(--color-theme-white) !important;
        background-color: var(--color-theme-secondary);
        border: 1px solid var(--color-theme-secondary) !important;
        opacity: 1 !important;
        &:hover {
            background-color: var(--color-theme-secondary-hover);
            border: 1px solid var(--color-theme-secondary-hover) !important;
        }
    }
    .custom-swal-confirm-button {
        color: #fff !important;
        background-color: red !important;
        opacity: 1 !important;
    }
    .swal2-styled {
        border-radius: 0.25rem;
    }

    // form style
    .form-control {
        border-color: var(--color-base-border);
    }
    .form-section {
        padding-inline: 1.142rem;
        row-gap: 0.571rem;
        margin-bottom: 1.5rem;
    }
    .form-subsection {
        row-gap: 8px;
    }
    .form-section-title {
        font-weight: $section-title-font-weight;
        font-size: $section-title-font-size;
        margin-bottom: 12px;
    }
    .form-section-sub-title {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 20px;
        color: #727272;
    }
    .form-label {
        color: #6b7280;
        font-weight: $regular;
    }
    .add-more-section {
        font-size: $font-size-14px;
        @include media-breakpoint-up(lg) {
            margin-top: 33px;
        }
    }
    .add-more-fields {
        cursor: pointer;
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }
    .remove-fields {
        cursor: pointer;
        color: red;
        &:hover {
            text-decoration: underline;
        }
    }
    .custom-radio-input {
        accent-color: var(--color-theme-primary);
    }
    .filter-input {
        border: 0;
        border-radius: 0.5rem;
    }

    // Access Denied styles
    .access-denied {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // Card styles
    .card {
        border: none;
        outline: none;
        flex-basis: 20%;
        .card-title {
            margin-top: 5px;
            font-size: 1.3rem;
            font-weight: $semibold;
            @include media-breakpoint-down("sm") {
                font-size: 1.1rem;
            }
        }
    }
    .card,
    .card-body {
        padding-inline: 0px;
    }

    // Flatpickr styles
    .flatpickr-cross-icon-with-calender-icon {
        right: 30px;
        top: 25%;
    }
    .flatpickr-cross-icon {
        right: 8px;
        top: 19%;
        img {
            margin-bottom: 3px;
        }
    }
    .filter-input {
        &.flatpickr-input {
            background-color: var(--color-theme-white) !important;
        }
    }
    .filter-flatpickr-input {
        max-width: 220px;
        .flatpickr-cross-icon-with-calender-icon {
            right: 30px;
            top: 25%;
        }
        .flatpickr-cross-icon {
            right: 20px;
            top: 5%;
            height: 16px;
            width: 16px;
            img {
                margin-bottom: 6px;
                width: 100%;
            }
        }
    }
}
