# DEV
NEXT_PUBLIC_AWS_COGNITO_USER_POOL_ID
NEXT_PUBLIC_AWS_USER_POOL_NAME
NEXT_PUBLIC_AWS_COGNITO_WEB_CLIENT_ID
NEXT_PUBLIC_AWS_COGNITO_REGION

# API_URL
NEXT_PUBLIC_API_URL

NEXT_PUBLIC_DOMAIN_NAME
NEXT_PUBLIC_DOMAIN_URL
NEXT_PUBLIC_REDIRECT_SIGNIN_URL
NEXT_PUBLIC_REDIRECT_SIGNOUT_URL
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET 
NEXT_PUBLIC_CRYPTO_SECRET_KEY